body {
    background-color: paleturquoise;
    font-family: impact, sans-serif;
}

h1, h4 {
    text-align: center;
    /* background-color: ; */
}

h1 {
    font-size: 6vw;
    letter-spacing: 1px;
    margin-bottom: -6px;
}

h4 {
    font-size: 2.2vw;
    margin-top: 5px;
}

main {
    display: flex;
}

.rounds {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

img {
    max-width: 100%;
    height: auto;
}

.round-number {
    font-size: 3vw;
}

.start, .next {
    font-family: 'Gill Sans', sans-serif;
    font-size: 18px;
    padding: 6px;
    margin: 14px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.game-play {
    width: 75vw;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
}

.notes {
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: black;
}

/* .letter-buttons {
    max-width: 100%;
    height: auto;
} */

.mystery-note {
    text-align: center;
    
}

.note-counter {
    font-family: impact, sans-serif;
    font-size: 2.9vw;
    margin-bottom: -4px;
}

.answer {
    font-family: 'Gill Sans', sans-serif;
    font-size: 2.4vw;
}

.button {
    font-family: 'Gill Sans', sans-serif;
    font-size: 40px;
    padding: 14px;
    margin: 12px;
    max-width: 100%;
    height: auto;
    /* width: 100%; */
    border-radius: 12px;
    border-color: black;
    background-color: fuchsia;
}

.scoreboard {
    width: 25vw;
    background-color: lightpink;
    text-align: center;
    border-style: solid;
    border-color: black;
    margin: 10px;
    margin-bottom: 34px;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: right; */
}

.scores {
    font-size: 2.5vw;
    letter-spacing: 1.1px;
}

.current-score {
    font-family: 'Gill Sans', sans-serif;
    font-size: 1.8vw;
}

.totals {
    font-family: 'Gill Sans', sans-serif;
    font-size: 1.65vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
